.kumquat-terminal {
  header {
    background: #30353A;
    color: whitesmoke;
  }
  section.terminal {
    background: #30353A;
    color: gainsboro;

    .code {
      color: slategray;
    }
  }

  .line:before {
    content: '$ ';
    color: #4C9F87;
  }

  .ansi-bold {
    font-weight: bold;
  }

  .ansi-dim {
    color: grey;
  }

  .ansi-italic {
    font-style: italic;
  }

  .ansi-underline {
    text-decoration: underline;
  }

  .ansi-inverse {
    background-color: gainsboro;
    color: #30353A;
  }

  .ansi-strikethrough {
    text-decoration: line-through;
  }

  .ansi-black {
    color: dimgrey;
  }

  .ansi-red {
    color: #D24858;
  }

  .ansi-green {
    color: #62997A;
  }

  .ansi-yellow {
    color: #F4F090;
  }

  .ansi-blue {
    color: #7595B3;
  }

  .ansi-magenta {
    color: #F23064;
  }

  .ansi-cyan {
    color: #6ED0B0;
  }

  .ansi-gray {
    color: grey;
  }

  .ansi-bgBlack {
    color: gainsboro;
    background-color: dimgrey;
  }

  .ansi-bgRed {
    color: gainsboro;
    background-color: #D24858;
  }

  .ansi-bgGreen {
    color: gainsboro;
    background-color: #62997A;
  }

  .ansi-bgYellow {
    color: grey;
    background-color: #F4F090;
  }

  .ansi-bgBlue {
    color: gainsboro;
    background-color: #7595B3;
  }

  .ansi-bgMagenta {
    color: gainsboro;
    background-color: #F23064;
  }

  .ansi-bgCyan {
    color: grey;
    background-color: #6ED0B0;
  }

  .ansi-bgWhite {
    color: grey;
    background-color: gainsboro;
  }

  .ansi-bgGray {
    color: gainsboro;
    background-color: grey;
  }
}