.kumquat-terminal {
  &.theme-plain {
    border: 1px solid #2b3035;

    header {
      background: white;
      color: #2b3035;
    }

    section.terminal {
      border-top: 1px solid #2b3035;
      background: white;
      color: #2b3035;
    }

    .line:before {
      content: '$ ';
      color: orangered;
    }
  }
}