.kumquat-terminal {
  &.theme-retro {
    header {
      background: #E0E8F0;
      color: #2b3035;
    }
    section.terminal {
      background: black;
      color: cyan;
    }

    .line:before {
      content: '$ ';
      color: lime;
    }
  }
}